<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Hospital Finder Fès{% endblock %}</title>
    
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    <!-- Bloc pour CSS additionnel -->
    {% block extra_css %}{% endblock %}
</head>
<body>
    <!-- Contenu de la page -->
    {% block content %}{% endblock %}
    
    <!-- Bloc pour JavaScript additionnel -->
    {% block extra_js %}{% endblock %}
</body>
</html>